/* dashboard.css */

.dashboard-container {
  display: flex;
  height: 100vh;
  text-decoration: none;
  /* Optionally, you can add more styling here, e.g., background-color, height, etc. */
}

.dashboard_dec{
  text-decoration: none;
}

.main-content {
  flex-grow: 1;
  overflow: auto; /* Add this if you want the content to be scrollable */
  padding: 20px; /* Adjust the padding as needed */
  box-sizing: border-box;
  text-decoration: none;
  /* Optionally, you can add padding, margins, or other styling here */
}

/* dashboard.css */

body,
html {
  height: 100%;
  margin: 0;
  text-decoration: none;
}

@media (max-width: 1660px) {
  .cont1 {
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: auto; 
    max-height: 90vh; 
  }


  .rcards-container {
    max-width: 90%; 
    overflow: hidden;
  }
  
  .rcards-container .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px; 
  }
  
  .rcards-container .grid > div {
    min-width: 0; 
    flex-grow: 1; 
  }
  
  .rcards-container .grid > div > div {
    width: 100%; 
  }

}

@media (max-width: 1550px) {
  .cont1 {
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: auto; 
    max-height: 90vh; 
  }


  .rcards-container {
    max-width: 60%; 
    overflow: hidden;
  }
  
  .rcards-container .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px; 
  }
  
  .rcards-container .grid > div {
    min-width: 0; 
    flex-grow: 1; 
  }
  
  .rcards-container .grid > div > div {
    width: 50%; 
  }

}




